# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Brian McIlwain
	email = brianwmcilwain@gmail.com
[push]
	default = matching
[core]
	trustctime = false
