# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Brian McIlwain
	email = technicallyemployed@gmail.com
[color]
	ui = auto
[push]
	default = current
[core]
	trustctime = false
